{# Landing page template. This is intended for landing pages for ads on Google or social networks. #}
{% include 'snippets/head' %}
<div class="js-stickyHeaderBoundary"></div>
<header id="top" class="HeaderWrap{% if _core.theme.settings.headerStickyEnabled == 'yes' %} HeaderWrap--sticky js-stickyHeader{% endif %}">
    <div class="Header{% if _core.theme.settings.headerWidth == 'contained' %} Header--contained{% endif %}">
        <div class="Container Container--pad">
            <div class="Header-inner">
                <div class="Header-logoWrapper">
                    {% do _core.theme.settings.headerLogo.alt.default(_core.settings.companyName) %}
                    {% set _core.theme.settings.headerLogo.class = "Header-logo" %}
                    {% do _core.theme.settings.headerLogo.resize(_core.theme.settings.headerLogoWidth.size + 150) %}
                    {% set _core.theme.settings.headerLogo.loading = 'eager' %}
                    {% do _core.theme.settings.headerLogo.fetchPriority() %}
                    <a href="/" class="Header-logoLink" aria-label="Go to home page">{{ _core.theme.settings.headerLogo.tag }}</a>
                </div>
                {% if _core.settings.companyPhone %}
                    <div class="flex justify-end-md"><a href="tel:{{ _core.settings.companyPhone|replace({'(': '', ')': '', '}': '', '-': '', ' ': ''}) }}" class="LandingPageHeader-phone">{{ _core.settings.companyPhone }}</a></div>
                {% endif %}
            </div>
        </div>
    </div>
</header>


{% block banner %}
    {{ _page.content('banner') }}
{% endblock %}

<div class="Container Container--pad ContentBg">
    <div class="Content clearfix">
        <main id="main">{% block main _page.content() %}</main>
    </div>
</div>

{{ _api.contentSnippet.get('landing-page-footer') }}
{% include 'snippets/footer' %}
