         {{ _api.contentSnippet.get('footer-content') }}
        <footer class="Footer">
            <div class="Container">
                <div class="grid Footer-grid">
                    <div class="col-1-1 col-lg-1-4 flex flex-col justify-center">
                        {% if _core.theme.settings.footerLogo %}
                            {% do _core.theme.settings.footerLogo.alt.default(_core.settings.companyName) %}
                            {% set _core.theme.settings.footerLogo.class = "Footer-logo" %}
                            <a href="/">{{ _core.theme.settings.footerLogo.tag }}</a>
                        {% elseif _core.theme.settings.headerLogo %}
                            {% do _core.theme.settings.headerLogo.alt.default(_core.settings.companyName) %}
                            {% set _core.theme.settings.headerLogo.class = "Footer-logo" %}
                            <a href="/">{{ _core.theme.settings.headerLogo.tag }}</a>
                        {% endif %}
                    </div>
                    <div class="col-1-1 col-lg-1-4 flex flex-col justify-center">
                        {% if _core.settings.companyAddressStreet %}
                            <div>{{ _core.settings.companyAddressStreet }}</div>
                        {% endif %}
                        <div>
                            {% if _core.settings.companyAddressCity %}
                                {{ _core.settings.companyAddressCity }}{{ _core.settings.companyAddressState ? ', ' }}
                            {% endif %}
                            {% if _core.settings.companyAddressState %}
                                {{ _core.settings.companyAddressState }}{{ _core.settings.companyAddressPostalCode ? ', ' }}
                            {% endif %}
                            {% if _core.settings.companyAddressPostalCode %}
                                {{ _core.settings.companyAddressPostalCode }}
                            {% endif %}
                        </div>
                        {% if _core.settings.companyPhone %}
                            <div><a href="tel:{{ _core.settings.companyPhone|replace({'(': '', ')': '', '}': '', '-': '', ' ': ''}) }}">{{ _core.settings.companyPhone }}</a></div>
                        {% endif %}

                    </div>
                    <div class="col-1-1 col-lg-2-4 flex flex-col align-center align-end-md justify-center">
                        {% if _core.theme.settings.footerAbovePhoneContent %}
                            <div class="Footer-phoneContent">{{ _core.theme.settings.footerAbovePhoneContent }}</div>
                        {% endif %}
                        {% if _core.settings.companyPhone %}
                            <div><a href="tel:{{ _core.settings.companyPhone|replace({'(': '', ')': '', '}': '', '-': '', ' ': ''}) }}" class="Footer-phone">{{ _core.settings.companyPhone }}</a></div>
                        {% endif %}
                        {% if _core.theme.settings.social|first.url %}
                            <div class="flex gx-1">
                                {% import 'macros/macros' as macros %}
                                {% set socialNames = {facebook: 'Facebook', instagram: 'Instagram', linkedin: 'LinkedIn', pinterest: 'Pinterest', twitter: 'Twitter', youtube: 'YouTube'} %}
                                {% for social in _core.theme.settings.social %}
                                    <a href="{{ social.url }}" title="Follow us on {{ attribute(socialNames, social.icon)|default(social.icon) }}" target="_blank" rel="noopenner noreferrer" class="Footer-socialLink">
                                        {{ macros.iconImg(social.icon, attribute(socialNames, social.icon)|default(social.icon), "Footer-icon") }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="Footer-bottom">
                <div>&copy; {{ _core.date.year }} {{ _core.settings.companyName }} {{ _core.theme.settings.footerAfterCopyrightContent }}</div>
                {{ _api.navigation.get.key('footer') }}
            </div>
            {% if _core.theme.settings.footerShowCredit == 'yes' %}
                <div style="Footer-credit"><a href="https://www.aptuitiv.com" target="_blank" class="Footer-link Footer-creditLink">Website by Aptuitiv</a></div>
            {% endif %}
        </footer>

        {# Do this before you output any inline Javascript in the footer #}
        {% if _core.service.recaptchaV3.isUsable %}
            {% if _page.hasJs('recaptchaV3') == false %}
                {% do _page.registerJs('recaptchaV3') %}
                {% inlinejs %}
                    loadjs.ready('main', {
                        success: function() {
                            new ScriptLoader(["{{ _core.service.recaptchaV3.js.src }}"]);
                        }
                    });
                {% endinlinejs %}
                {{ _core.service.recaptchaV3.script.tag }}
            {% endif %}
            {% inlinecss %}
                .grecaptcha-badge { visibility: hidden; }
            {% endinlinecss %}
        {% endif %}
        {{ _page.js() }}
        {{ _page.bodyEndCode() }}

        {# Optional Modal #}
        {% nevercache %}
            {% verbatim %}
                {% if _core.theme.settings.popupDisplay == 'yes' and _core.theme.settings.popupContent and not _page.cookies.announcementPopup %}
                    <div class="Modal Modal-slide" id="announcement-modal" aria-hidden="true">
                        <div class="Modal-overlay" tabindex="-1" data-micromodal-close>
                            <div class="Modal-container" role="dialog" aria-modal="true">
                                <div class="Modal-header">
                                    <button class="Modal-close" data-micromodal-close></button>
                                </div>
                                <div class="Modal-content last-child-sb-0">
                                    {{ _core.theme.settings.popupContent }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% inlinejs %}
                        loadjs.ready('main', {
                            success: function() {
                                setTimeout(() => {
                                    MicroModal.show('announcement-modal', {
                                        disableFocus: true
                                    });
                                    setCookie('announcementPopup', "hide", {{ _core.theme.settings.popupCookieExpiration }});
                                }, {{ _core.theme.settings.popupSeconds }}000);
                            }
                        });
                    {% endinlinejs %}
                {% endif %}
            {% endverbatim %}
        {% endnevercache %}
    </body>
</html>
