{# Macro that handles building each "tree" of the navigation menu. #}
{% macro menu_items(items) %}
    {% apply spaceless %}

    {% for item in items %}
        {% if item.link.href != '#' %}
            {% set class = "FooterNav-item " ~ item.link.class %}
            <li class="{{ class|trim }}">
            {% if _core.theme.settings.footerNavigationSeparator %}
                <span class="FooterNav-separator">{{ _core.theme.settings.footerNavigationSeparator }}</span>
            {% endif %}
                {# ASSIGN MENU LINK CLASS #}
                {% set item.link.class = item.link.class ~ ' FooterNav-link' %}
                {{ item.link.tag }}
                {% if item.subItems %}
                    <ul>
                        {% import _self as macros %}
                        {{ macros.menu_items( item.subItems ) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    {% endapply %}
{% endmacro %}

{# Import the macro so that it can be used #}
{% import _self as macros %}

{# Build the navigation menu #}
<ul class="FooterNav">
    {{ macros.menu_items(items) }}
</ul>
