{% import 'macros/macros' as macros %}
{% import 'macros/banner' as bannerMacros %}

{# Banner content macro #}
{% macro bannerContent(slide) %}
    {% if slide.content %}
        <div class="Banner-fg">
            <div class="Banner-content last-child-sb-0">
                {{ slide.content }}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{# Build the banner slider #}
{% if slides %}
    {% if slides|length == 1 %}
        {% set slide = slides|first %}
        {% if slide.image or slide.video or slide.content %}
            <div class="Banner{% if not slide.image && not slide.video %} Banner-fg--noImage{% endif %}" role="group" aria-label="Banner">
                {% if slide.image %}
                    {{ bannerMacros.bannerImage(
                        slide.image,
                        slide.imageCrop,
                        _core.theme.settings.bannerImageSizes,
                        _core.theme.settings.bannerMinImageRatio,
                        _core.theme.settings.bannerImageRatio,
                        _core.theme.settings.bannerBarImageCropStrategy,
                        _core.theme.settings.bannerImageCropOrientation,
                        true
                    ) }}
                    {{ _self.bannerImage(slides|first, true) }}
                {% elseif  slide.video %}
                    {{ bannerMacros.bannerVideo(slide.video, core.theme.settings.bannerImageSizes, true) }}
                {% endif %}
                {{ _self.bannerContent(slide) }}
            </div>
        {% endif %}
    {% else %}
        {% set class = 'js-bannerSlider--' ~ random_string() %}
        <div class="Banner splide {{ class }}" role="group" aria-label="Banner Slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slide in slides %}
                        {% if slide.image %}
                            <li class="splide__slide">
                                {{ _self.bannerImage(slide, loop.first) }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {{ macros.loadSplide() }}
        {% inlinejs %}
            loadjs.ready('splide', {
                success: function() {
                    new Splide('.{{ class }}', {
                        pagination: true,
                        arrows: false,
                        rewind: true,
                        perPage: 1
                    }).mount();
                }
            });
        {% endinlinejs %}
    {% endif %}
{% endif %}
